/*---------------------------
Style Sheet for Stag.Camp
----------------------------*/

* {
	margin: 0;
  	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #81888e;
	background: #f4f7f9;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', serif;
	font-weight: 700;
	color: #232323;
}

section.header {
	display: flex;
	height: 100vh;
}

section.header--welcome {
	min-height: 100%;
	width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.header--welcome article {
	width: 80%;
}

p span {
	font-weight: 700;
}

section.header--imgs {
	background: #232323;
	min-height: 100%;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

section.header--imgs img {
	width: 20%;
	height: 100%;
}